# Ignore Python virtual environment
.venv
__pycache__

# Ignore logs
logs

# Ignore Kubernetes deployment files
k8s

# Ignore Dockerfiles themselves
Dockerfile*
docker-compose.yml

# Ignore system files
*.pyc
*.pyo
*.pyd
*.swp
*.DS_Store
