# Ignore Python virtual environment
.venv
__pycache__

# Ignore logs
logs

# Ignore Kubernetes deployment files

# Ignore Dockerfiles themselves
def_values.yml
.dockerignore
values.yaml
compose_1.txt


# Ignore system files
*.pyc
*.pyo
*.pyd
*.swp
*.DS_Store